[submodule "src/external_libraries/curlpp"]
	path = src/external_libraries/curlpp
	url = https://github.com/jpbarrette/curlpp
[submodule "src/external_libraries/hopscotch-map"]
	path = src/external_libraries/hopscotch-map
	url = https://github.com/Tessil/hopscotch-map
[submodule "src/external_libraries/googletest"]
	path = src/external_libraries/googletest
	url = https://github.com/google/googletest
[submodule "src/external_libraries/rapid_json"]
	path = src/external_libraries/rapid_json
	url = https://github.com/Tencent/rapidjson.git
[submodule "src/external_libraries/xxhash"]
	path = src/external_libraries/xxhash
	url = https://github.com/Cyan4973/xxHash.git
